*{
  margin: 0;
  padding: 0;
  background-color: #211938;
  color: #b1b1a3;
}

/* Center the form on the page */
.book-page{
  text-align: center;
  margin-top: 10%;
}
.book-operation {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Full viewport height */
}

/* Style the form itself */
.book-operation form {
  display: flex;
  flex-direction: column; /* Stack inputs vertically */
  align-items: flex-start; /* Align inputs to the left */
  padding: 100px; /* Padding around the form */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(198, 2, 2, 0.233); /* Subtle shadow */
  width: 30%;
  margin-top: -20%;
}

/* Style the inputs */
.book-operation input {
  margin-bottom: 15px; /* Space between inputs */
  padding: 10px; /* Padding inside inputs */
  width: 100%; /* Full width of the form */
  border: 1px solid #3300ff33; /* Border around inputs */
  border-radius: 5px; /* Rounded corners */
}

/* Style the button */
.book-operation button {
  width: 50%; 
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding inside the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.book-operation button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.searching{
  width: 20%;
}
.searching input{
  margin-top: 10px;
}

.table-container {
  width: 80%;
  margin: 20px auto;
  /* background-color: #f9f9f9; */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adjusted shadow for a subtler effect */
  border: 1px solid #dddddd; /* Reduced thickness of the border */
}
.table-container h2{
  color:#dddddd;
  margin-bottom: 5%;
  font-size: 100px;
}
.flexing{
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #dddddd; /* Added to make the outline thinner */
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th, 
.styled-table td {
  padding: 12px 15px;
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

/* .styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
} */

.styled-table th, 
.styled-table td {
  text-align: left;
}
